h1 {
  font-family: 'Roboto Slab', serif;
  color: $color--cod-gray;
  font-weight: 200;
}

html,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Open Sans', sans-serif;
  color: $color--mine-shaft;
  font-weight: 200;
}
