$header-height: 75px;

.header {
  height: $header-height;

  @include breakpoint (small only) {
    height: 0;
  }
}

.header__inner {
  @include breakpoint (medium) {
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    max-width: 1140px;
    min-width: 320px;
    height: $header-height;

    @include breakpoint (xxlarge) {
      max-width: 1280px;
    }
  }
}

.header__logo {
  width: 150px;
  transform: translateY(28px);
  z-index: 100;

  @include breakpoint (small only) {
    transform: translateY(80px);
  }
}
